# dependencies
node_modules/

# Next.js
.next/
out/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/
.vercel

# MCP
.mcp.json

*storybook.log
storybook-static
